<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJKO5OdMddxhtsaeMGaeffRxYuBsEvmrk</string>
	<key>GCM_SENDER_ID</key>
	<string>525258636305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devicedesk.app</string>
	<key>PROJECT_ID</key>
	<string>devicedesk-bc7bc</string>
	<key>STORAGE_BUCKET</key>
	<string>devicedesk-bc7bc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525258636305:ios:fc8da8f7b9896c580045b0</string>
</dict>
</plist>